<%- include("partials/header") %>
    <!-- CAROUSEL RIDES HERO-SECTION -->
    <section class="hero-section">

        <section class="container-fluid">
            <div class="row hero flex-reverse justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-12 align-self-center ml-lg-5 ">
                    <div class="hero-info">
                        <p>New Designs 2022</p>
                        <h1>EVENT MANAGEMENT</h1>
                        <h4>OCCASION MADE BETTER</h4>
                        <button class="btn btn-outline-primary btn-stretch btn-sm pt-lg-1 pb-lg-1 pl-lg-4 pr-lg-4">VIEW ALL</button>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-12 ">
                    <img class="home-img " src="/images/l1.png " alt=" ">
                </div>
            </div>
        </section>
    </section>

    <section class="d-flex mt-3 mb-3 justify-content-center ">
        <h2>Experiences</h2>


    </section>

    <!-- SERVICES-SECTION -START -->

    <!-- <div class="d-flex justify-content-center mt-100 ">
        <div class="row justify-content-center ">
            <div class="col-10 col-xs-10 col-lg-3 col-md-3">
                <a href="/services/<%=products[0].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/1/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Happy Birthday surprise</h6>
                            <h5>₹ 1299 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Happy birthday foil balloon in Gol..</li>
                                <li class="pt-1 ">80 Balloons [Black and Golden]</li>
                                <li class="pt-1 ">Please provide a ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-xs-10 col-lg-3 col-md-3 ">
                <a href="/services/<%=products[1].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/2/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Blue Birthday Decor</h6>
                            <h5>₹ 1499 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">120 balloons (light blue, dark ... </li>
                                <li class="pt-1 ">Happy Birthday foil balloon in..</li>
                                <li class="pt-1 ">4 Blue heart shape foil balloon</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-xs-10 col-lg-3 col-md-3 ">
                <a href="/services/<%=products[2].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/3/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Pastel Balloon Surprise</h6>
                            <h5>₹ 1799 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">150 multi color Pastel balloons </li>
                                <li class="pt-1 ">Happy Birthday foil balloon in..</li>
                                <li class="pt-1 ">18 printed photos</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-xs-10 col-lg-3 col-md-3 ">
                <a href="/services/<%=products[3].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/4/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>THis is the forth one </h6>
                            <h5>₹ 1299 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Happy birthday foil balloon in Gol.. </li>
                                <li class="pt-1 ">80 Balloons [Black and Golden]</li>
                                <li class="pt-1 ">Cards include various options for c..</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="d-flex mt-5 justify-content-center mt-100 ">
        <div class="row justify-content-center ">
            <div class="col-6 col-md-3 ">
                <a href="/services/<%=products[4].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/5/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Blue and silver theme birthday</h6>
                            <h5>₹ 1399 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">120 Silver and Blue Balloons </li>
                                <li class="pt-1 ">40 balloons of wall in the form..</li>
                                <li class="pt-1 ">30 balloons free floating on floor</li>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-6 col-md-3 ">
                <a href="/services/<%=products[5].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/6/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Pink and Silver Theme</h6>
                            <h5>₹ 1399 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">60 balloons (Pink and silver)</li>
                                <li class="pt-1 ">1 fairy light</li>
                                <li class="pt-1 ">1 happy birthday foil balloon</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 ">
                <a href="/services/<%=products[6].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/7/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6> Red&White Balloon With Photo's</h6>
                            <h5>₹ 1599 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">150 Red & white balloons </li>
                                <li class="pt-1 ">24 Printed photo's</li>
                                <li class="pt-1 ">Please provide a ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-3 ">
                <a href="/services/<%=products[7].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/8/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Happy Birthday Balloon in Silver</h6>
                            <h5>₹ 1799 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">2 Silver star shape foil balloon, 2..</li>
                                <li class="pt-1 ">50 Balloons (Black & Golden)</li>
                                <li class="pt-1 ">1 Fairy light</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div class="d-flex mt-5 align-self-start mt-100 ">
        <div class="row justify-content-start ">
            <div class="col-6 col-md-4 ">
                <a href="/services/<%=products[8].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/9/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Balloon Decoration on Ceiling</h6>
                            <h5>₹ 1999 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">200 balloon on ceiling with ribbon </li>
                                <li class="pt-1 ">Colours of your choice</li>
                                <li class="pt-1 ">Please provide ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 ">
                <a href="/services/<%=products[9].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img src="Resources/10/1.jpg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Larntern and Fairy Light</h6>
                            <h5>₹ 1999</h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">10 paper larntern (White)</li>
                                <li class="pt-1 ">5 fairy light</li>
                                <li class="pt-1 ">Please provide ladder & chair</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 ">
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div> -->

    <!-- SERVICES-SECTION -END -->
    <div class=" container-fluid justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-4 align-self-center col-10 col-sm-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class=" container-fluid justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-4 align-self-center col-10 col-sm-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class=" container-fluid justify-content-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-4 align-self-center col-10 col-sm-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-10">
                <p>First</p>
                <a href="/services/<%=products[10].id%>">
                    <div class="card " style="width: 18rem; ">
                        <div class="card-img ">
                            <img class="special-img " src="Resources/11/1.jpeg " alt=" " style=" width: 18rem; ">
                        </div>
                        <div class="card-body ">
                            <h6>Baby Shower Theme Decoration</h6>
                            <h5>₹ 4149 </h5>
                            <div class="box pt-4 ">
                                <li class="pt-2 ">Arch of 250 balloons {70 Latex Lem...</li>
                                <li class="pt-1 ">3 Green Frills Curtain</li>
                                <li class="pt-1 ">1 Baby boy/Girl Foil balloon, 2 Bl...</li>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <%- include("partials/footer") -%>